body {
    margin: 0px;
    display: flex;
    min-height: 100vh;  
}

.menu {
    width: 30vw;
    height: 100vh;
    border: 1px solid #333;
}

.user-active {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #333;
}

.status-active {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.avatar-user > img {
    border-radius: 50%;
    height: 13vh;
}

.icons {
    font-size: 4vh;
    
}

.new-chat-button {
    display: flex;
    border-bottom: 1px solid #333;
    height: 15vh;
    justify-content: center;
    align-items: center;
}
button {
    height: 10vh;
    width: 70%;
    border: none;
    background-color: #b2a1d9;
    color: #fff;
    font-size: 150%;
}

button:hover {
    background-color: #7e59d3;
    color: black;
}
.section {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section > img {
    height: 400px;
    width: 400px;
}